$primary: #FEC92F;
$secondary1: #FAFAFA;



// Scrollbar Starts
::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    background-color: $primary;
    -webkit-border-radius: 80px;
    border-radius: 80px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 80px;
    border-radius: 80px;
    background: $secondary1; 
}
// Scrollbar Ends


section,
footer {
	overflow: hidden;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

ul,
ol {
	padding: 0;
	margin: 0;
	list-style: none;

	li {
		font-size: inherit;
		font-weight: inherit;
	}
}

button {
	border: none;
	cursor: pointer;
	font-size: 18px;
	line-height: 150%;
	padding: 0;
	background-color: transparent;
}

input,
textarea {
	padding: 12px 20px;
	width: 100%;
	outline-color: transparent;
	font-size: 16px;
	border-radius: 10px;
	background-color: transparent;
	border: 1px solid #B3B6B9;

	&::placeholder {
		color: #F5F5DC;
		font-size: 16px;
	}
}
.d-center{
	@apply flex items-center justify-center;
}
.max-auto {
	max-width: 100%;
}

.max-un {
	max-width: unset;
}

.d-rtl {
	direction: rtl;
}

.v-line {
	&::before {
		position: absolute;
		content: '';
		width: 1px;
		height: 40px;
		background-color: #222;
	}

	&.lg::before {
		@apply w-0.5 h-[60px] lg:h-[60px] opacity-40
	}

	&.lgx::before {
		@apply h-[173px] w-[1px] bg-[#B3B6B9] opacity-[0.3]
	}

	&.lg2::before {
		height: 17px;
		padding: 1px;
		background-color: rgba(var(--s2), 1) !important;
	}

	&.xl::before {
		background-color: rgb(var(--p7)) !important;
		height: 15px;
	}

	&.sm::before {
		height: 25px;
	}

	&.smx::before {
		width: 1px;
		height: 20px;
		background: rgba(255, 255, 255, 0.20);
	}

	&.dashed::before {
		border-right: 1px dashed rgb(var(--n5));
		background: transparent;
	}
}

iframe {
	border: 0;
	width: 100%;
}

.display-4 {
	line-height: 120% !important;
}

// play button animation effect starts
.wrapper {
	// display: inline-block;
	// position: absolute;
	// top: 50%;
	// left: 50%;
	transform: translate(-50%, -50%)
}

@keyframes waves {
	0% {
		-webkit-transform: scale(0.2, 0.2);
		transform: scale(0.2, 0.2);
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}

	50% {
		opacity: 0.9;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	}

	100% {
		-webkit-transform: scale(0.9, 0.9);
		transform: scale(0.9, 0.9);
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
}


.waves {
	position: absolute;
	width: 150px;
	height: 150px;
	// background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	opacity: 0;
	// -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	border-radius: 100%;
	right: -50px;
	bottom: -50px;
	z-index: -1;
	-webkit-animation: waves 3s ease-in-out infinite;
	animation: waves 3s ease-in-out infinite;
}

.wave-1 {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

.wave-2 {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

.wave-3 {
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}

.wave-4 {
	-webkit-animation-delay: 3s;
	animation-delay: 3s;
}

// play button animation effect ends

// Tab Starts
.tabcontents {
	position: relative;
}

.nav-links {
	// border-bottom: 4px solid transparent;
	transition: 0.5s linear;
	&.active {
		background-color: #282828;
	}
}

.tabitem {
	transform: translateY(100px);
	position: absolute;
	z-index: -1;
	top: 0;
	width: 100%;
	opacity: 0;
	transition: 0.5s all;
}

.tabitem.active {
	position: initial;
	z-index: 1;
	opacity: 1;
	transform: translateY(0);
}

// Tab Ends
.styleshadow {
	&:hover {
		box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.08);
		transform: scale(1.05);
		z-index: 10;
	}
}

.table-style {
	table {
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
		border-top: 1px solid #1E2132;
		min-width: 768px;

	}

	tr {
		border-bottom: 1px solid #1E2132;
	}
}

.max-unset {
	max-width: unset;
}

.accordion-single {
	transition: 0.5s linear;

	&.active {
		// border-color: #99C306;
		.accordion-btn{
			// color: #99C306;
			transition: 0.5s linear;
		}
		.arrowclickable {
			transform: rotate(180deg);
			transition: 0.5s linear;

			.ph-plus {
				display: none;
			}
			.ph-minus {
				display: block;
			}
		}
	}

	.arrowclickable {
		transition: 0.5s linear;
	}
}

// Footer Starts
.trapezoid {
	@apply border-t-[60px] sm:border-t-[80px] border-[#282828] w-[225px] sm:w-[325px];
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	margin: 0 auto;
}

// Footer Ends
// Navbar Style Starts
.btnstyle {
	position: relative;
	display: inline-block;
	background: transparent;
	transition: linear 0.6s;
	&:hover {
		box-shadow: inset 0 160px 0 0 $primary;
	}
	&.active {
		box-shadow: inset 0 160px 0 0 $primary;
	}
}
// Navbar Style Ends
// Traniner Section Starts
.common_area, .common_area2, .common_area3, .common_area4{
	transform: translateY(-500px);
	transition: 0.6s linear;
	&.show{
		transform: translateY(0);
	}
}
.common_areaname, .common_areaname2, .common_areaname3, .common_areaname4{
	transform: translateY(0);
	transition: 0.6s linear;
	&.show{
		transform: translateY(90px);
	}		
}
// Traniner Section Ends